{% extends 'base.html' %} 

{% block title %}Delete task{% endblock %} 

{% block content %}
  <h2 class="text-4xl pb-4 font-bold">Delete task</h2>
  <form action="" method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{object}}" ? </p>
    <button type="submit" class="mt-5 w-full h-12 px-6 text-red-100 transition-colors duration-150 bg-red-600 rounded-lg focus:shadow-outline hover:bg-red-700">Delete</button>
  </form>
  
  <a href="/form-tasks">
    <button type="submit" class="mt-4 w-full h-12 px-6 text-red-100 transition-colors duration-150 bg-red-600 rounded-lg focus:shadow-outline hover:bg-red-700">Cancel</button>
  </a>
  
{% endblock %}
